<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <header>
     <div class="col-xs-3">
     <%= link_to root_path, class:"logo" do %>
        <div class="circle">
          <br />
          learn
          <br />
          by
          <br />
          doing
          <% end %>

        </div>
     </div>
     <div class="col-xs-6 slogan">
        first ruby app in refugees on rails program
     </div>
     <div class="col-xs-3 links">
        <%= link_to 'contribute', new_quote_path %> 
        <%= link_to 'about','#' %>
     </div>
  </header>
  <hr/>
  <br class="clear" />
  <div class="container">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <div class="col-xs-6">
        <%= link_to"This isn't enough, I need more", root_path , class: 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Proudly hacked in Hamburg by <a href="http://wesamkiwan.getforge.io">Wesam &amp; ROR team</a><br />
        Want to build your own Splurty Web App - <a href="http://wesamkiwan.getforge.io">Learn how to code here</a>
      </div>
    </div>
  </div>
  </body>
</html>
